<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets">

<h:head>
	<title>#{empty pageTitle ? 'Page Title' : pageTitle}</title>
	<link rel="icon" href='#{resource["favicon.ico"]}' />
	<h:outputStylesheet name="bootstrap.css" />
	<h:outputStylesheet name="forge-style.css" />
</h:head>

<h:body>
	<ui:debug rendered="#{facesContext.application.projectStage == 'Development'}" />
	<div class="navbar navbar-fixed-top">
		<div class="navbar-inner">
			<div class="container">
				<h:link id="brandLink" outcome="/index.xhtml" styleClass="brand">
					<h:outputText value="Welcome to " rendered=" #{request.userPrincipal !=null} "/>
                    Scaffold
                    <h:outputText value=",  #{request.userPrincipal.name}" rendered="#{request.userPrincipal !=null} "/>
				</h:link>
				<div class="nav-collapse collapse">
					<ul class="nav">
						<li><a href="http://forge.jboss.org/document/hands-on-lab">How to Customize</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>

	<div class="container forgecontainer">
		<div id="navigation">
			<h:link id="homeLink" outcome="/index.xhtml">
				<h:graphicImage value='#{resource["forge-logo.png"]}' alt="Forge... get hammered" border="0" />	
			</h:link>
			<ul>
				<li>
					<h:link outcome="/admin/historicoEstadoSolicitud/search" value="Historico Estado Solicitud"/>
				</li>
				<li>
					<h:link outcome="/admin/idioma/search" value="Idioma"/>
				</li>
				<li>
					<h:link outcome="/admin/plantillaEmail/search" value="Plantilla Email"/>
				</li>
				<li>
					<h:link outcome="/admin/plantillaPdf/search" value="Plantilla Pdf"/>
				</li>
				<li>
					<h:link outcome="/admin/justificantePdf/search" value="Justificante Pdf"/>
				</li>
				<li>
					<h:link outcome="/admin/solicitud/search" value="Solicitud"/>
				</li>
				<li>
					<h:link outcome="/admin/solicitudPdf/search" value="Solicitud Pdf"/>
				</li>
				<li>
					<h:link outcome="/admin/tramite/search" value="Tramite"/>
				</li>
				<li>
					<h:link outcome="/admin/usuario/search" value="Usuario"/>
				</li>
			</ul>
		</div>

		<div id="content">
			<h1>
				<ui:insert name="header" />
			</h1>
			<h2>
				<ui:insert name="subheader" />
			</h2>

			<ui:insert name="main" />
		</div>
	</div>

	<footer>
		<div id="footer-wrapper">
	    	<p>Powered by <a href="http://jboss.org/forge">Forge</a></p>
	    </div>
	</footer>

</h:body>
</html>
