body {
	width: 990px;
	font-size: 13px;
	padding-top:0px;
	margin: 0;
   	padding: 0;	
}

form {
	 border-width: 0px;
	 margin: 0px;
	 padding: 0px;
	 cellpadding: 0px;
	 cellspacing: 0px;
}
table {
	font-size: 13px;
}

a {
	font-size: 13px;
}

.cabecera {
/* 	background-image: url(../img/fondoimser2.jpg); */
	background-color:#fafadc;
}

.cabeceracol1 {
	text-align: left;
	width: 420px;
}

.cabeceracol2 {
	text-align: center;
	width: 470px;
}

.cabeceracol3 {
    text-align: right;
	width: 100px;
}

input[type=submit], input[type=button] {
	font-size: 13px;
}

input[type=text], input[type=password], textarea {
	font-size: 13px;
}

textarea[disabled], input[type="text"][disabled], input[type="password"][disabled], select[disabled] {
    color: black;
    cursor: default;
}

.footer {
	font-size: 13px;
}

.message {
	font-size: 18px;
}

.message li {
    font-weight: bold;
}

.message li.errormsg {
    background-color: #FF0000;
    color: white;
    padding-top: 6px;
    padding-bottom: 6px;    
}


select {
	font-size: 13px;
}



<!-- collapsible panel -->
.rf-cp {
	font-size: 13px;
}

.rf-dt-c {
    font-size: 13px;
}

.rf-ddm-lbl-dec, .rf-ddm-itm-lbl {
	font-size: 13px;
}

.rf-pm-top-gr-lbl {
	font-family: Arial, Verdana, sans-serif;
	font-size: 11px;
	font-weight: 700;
	padding-left: 5px;
	width: 160px;
}
.rf-cp-hdr, .rf-cp-hdr-exp, .rf-cp-lbl, .rf-cp-lbl-exp {
	cursor: pointer;
	font-family: Arial,Verdana,sans-serif;
	font-size: 13px;
	font-weight: 700;
	padding-bottom: 2px;
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 2px;
}

.rich-container input, .rich-input, .rich-container select, .rf-sel, .rich-container textarea, 
.rich-textarea, .rich-container button, .rich-button, .rich-container keygen, .rich-keygen, 
.rich-container isindex, .rich-isindex, .rich-container legend, .rich-legend, .rich-container a, 
.rich-link, .rich-container fieldset, .rich-fieldset, .rich-field, .rich-field-edit, .rich-field-error, 
.rich-button, .rich-button-disabled, .rich-button-over, .rich-button-press, .rich-font-size-general, 
.rich-font-size-header, .rich-text-general, .rich-text-header, .rich-text-tab-disabled, .rich-text-control-select,
.rich-container button, .rich-button, .rich-container textarea, .rich-textarea, .rich-container textarea[type="textarea"],
.rich-textarea-textarea, .rich-container input[type="text"], .rich-input-text, .rich-container input[type="password"], 
.rich-input-password, .rich-container select, .rf-sel, .rf-tab-hdr, .rf-tab-lbl, .rf-dt-c, .rf-tab-cnt,
.rf-dt-ftr-c, .rf-dt-shdr-c, .rich-stglpanel-body, .rf-p-hdr ,
.rf-dt-hdr-c, .rich-subtable-cell, .rf-p-b {
    font-size: 13px;
}

.rich-ddmenu-label, .rich-ddmenu-label-disabled, .rich-menu-item, .rich-menu-item a, .rich-menu-item a:hover, .rich-menu-item a:visited,
.rich-menu-group, .rich-menu-group a, .rich-menu-group a:hover, .rich-menu-group a:visited{
	font-size: 13px;
}

.rf-tab-itm {
    color: #000000;
    font-family: Arial,Verdana,sans-serif;
    font-size: 11px;
    font-weight: bold;
    padding: 2px 5px;
}

.top {
    vertical-align: top;
    
}
.info {
    height: 202px;
    overflow: auto;
}

