<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:forgeview="http://jboss.org/forge/view"
	template="/WEB-INF/templates/crudTemplate.xhtml">

	<f:metadata>
		<f:viewParam name="page" value='#{tramiteBean.page}'/>
		<f:event type="preRenderView" listener='#{tramiteBean.paginate}'/>
	</f:metadata>

	<ui:param name="pageTitle" value="Buscar Tramite "/>

	<ui:define name="header">
		Tramite
	</ui:define>

	<ui:define name="subheader">
		Buscar Tramite 
	</ui:define>

	<ui:define name="footer"/>

	<ui:define name="main">
		<h:form id="search">
			<f:validateBean disabled="true">
				<h:panelGroup styleClass="search">

					<h:panelGrid columnClasses="label,component,required" columns="3">
						<h:outputLabel for="tramiteBeanExampleCodigoSIA" value="Codigo SIA:"/>
						<h:panelGroup>
							<h:inputText id="tramiteBeanExampleCodigoSIA" value="#{tramiteBean.example.codigoSIA}"/>
							<h:message for="tramiteBeanExampleCodigoSIA" styleClass="error"/>
						</h:panelGroup>
						<h:outputText/>
						<h:outputLabel for="tramiteBeanExampleDescripcion" value="Descripcion:"/>
						<h:panelGroup>
							<h:inputText id="tramiteBeanExampleDescripcion" value="#{tramiteBean.example.descripcion}"/>
							<h:message for="tramiteBeanExampleDescripcion" styleClass="error"/>
						</h:panelGroup>
						<h:outputText/>
						<h:outputLabel for="tramiteBeanExampleNombre" value="Nombre:"/>
						<h:panelGroup>
							<h:inputText id="tramiteBeanExampleNombre" value="#{tramiteBean.example.nombre}"/>
							<h:message for="tramiteBeanExampleNombre" styleClass="error"/>
						</h:panelGroup>
						<h:outputText/>
						<h:outputLabel for="tramiteBeanTramitejustificantePdf" value="Justificante Pdf:"/>
						<h:panelGroup>
							<h:selectOneMenu converter="#{justificantePdfBean.converter}" id="tramiteBeanTramitejustificantePdf" value="#{tramiteBean.example.justificantePdf}">
								<f:selectItem/>
								<f:selectItems itemLabel="#{forgeview:display(_item.nombre)}" itemValue="#{_item}" value="#{justificantePdfBean.all}" var="_item"/>
							</h:selectOneMenu>
							<h:message for="tramiteBeanTramitejustificantePdf" styleClass="error"/>
						</h:panelGroup>
						<h:outputText/>						
						<h:outputLabel for="tramiteBeanTramiteSolicitudPdf" value="Solicitud Pdf:"/>
						<h:panelGroup>
							<h:selectOneMenu converter="#{solicitudPdfBean.converter}" id="tramiteBeanTramiteSolicitudPdf" value="#{tramiteBean.example.solicitudPdf}">
								<f:selectItem/>
								<f:selectItems itemLabel="#{forgeview:display(_item.nombre)}" itemValue="#{_item}" value="#{solicitudPdfBean.all}" var="_item"/>
							</h:selectOneMenu>
							<h:message for="tramiteBeanTramiteSolicitudPdf" styleClass="error"/>
						</h:panelGroup>
						<h:outputText/>
					</h:panelGrid>
					<h:panelGroup styleClass="buttons">
						<h:commandLink value="Buscar" action='#{tramiteBean.search}' styleClass="btn btn-primary"/>
						<h:commandLink value="Crear nuevo" action='#{tramiteBean.create}' styleClass="btn btn-primary"/>
					</h:panelGroup>
				</h:panelGroup>
			</f:validateBean>
			
			<h:dataTable id="tramiteBeanPageItems" styleClass="data-table" value="#{tramiteBean.pageItems}" var="_item">
				<h:column>
					<f:facet name="header">
						<h:outputText value="Codigo SIA"/>
					</f:facet>
					<h:link outcome="/admin/tramite/view">
						<f:param name="id" value="#{_item.id}"/>
						<h:outputText id="itemCodigoSIA" value="#{_item.codigoSIA}"/>
					</h:link>
				</h:column>
				<h:column>
					<f:facet name="header">
						<h:outputText value="Descripcion"/>
					</f:facet>
					<h:link outcome="/admin/tramite/view">
						<f:param name="id" value="#{_item.id}"/>
						<h:outputText id="itemDescripcion" value="#{_item.descripcion}"/>
					</h:link>
				</h:column>
				<h:column>
					<f:facet name="header">
						<h:outputText value="Nombre"/>
					</f:facet>
					<h:link outcome="/admin/tramite/view">
						<f:param name="id" value="#{_item.id}"/>
						<h:outputText id="itemNombre" value="#{_item.nombre}"/>
					</h:link>
				</h:column>
				<h:column>
					<f:facet name="header">
						<h:outputText value="Unidad Responsable"/>
					</f:facet>
					<h:link outcome="/admin/tramite/view">
						<f:param name="id" value="#{_item.id}"/>
						<h:outputText id="itemUnidadResponsable" value="#{_item.unidadResponsable}"/>
					</h:link>
				</h:column>
			</h:dataTable>
			<ui:include src="/resources/scaffold/paginator.xhtml">
				<ui:param name="paginatorBean" value='#{tramiteBean}'/>
			</ui:include>
		</h:form>
			
	</ui:define>

</ui:composition>
