<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:forgeview="http://jboss.org/forge/view"
	template="/WEB-INF/templates/crudTemplate.xhtml">

	<f:metadata>
		<f:viewParam name="id" value='#{tramiteBean.id}'/>
		<f:event type="preRenderView" listener='#{tramiteBean.retrieve}'/>
	</f:metadata>

	<ui:param name="pageTitle" value="View Tramite"/>

	<ui:define name="header">
		Tramite
	</ui:define>

	<ui:define name="subheader">
		Ver Tramite
	</ui:define>

	<ui:define name="footer"/>

	<ui:define name="main">
		<h:panelGrid columnClasses="label,component,required" columns="3">
			<h:outputLabel for="tramiteBeanTramiteCodigoSIA" value="Codigo SIA:"/>
			<h:outputText id="tramiteBeanTramiteCodigoSIA" value="#{tramiteBean.tramite.codigoSIA}"/>
			<h:outputText/>
			<h:outputLabel for="tramiteBeanTramiteDescripcion" value="Descripcion:"/>
			<h:outputText id="tramiteBeanTramiteDescripcion" value="#{tramiteBean.tramite.descripcion}"/>
			<h:outputText/>
			<h:outputLabel for="tramiteBeanTramiteNombre" value="Nombre:"/>
			<h:outputText id="tramiteBeanTramiteNombre" value="#{tramiteBean.tramite.nombre}"/>
			<h:outputText/>
			<h:outputLabel for="tramiteBeanTramitejustificantePdf" value="Justificante Pdf:"/>
			<h:link id="tramiteBeanTramitejustificantePdf" outcome="/admin/justificantePdf/view" rendered="#{!empty tramiteBean.tramite.justificantePdf}" value="#{tramiteBean.tramite.justificantePdf.nombre}">
				<f:param name="id" value="#{tramiteBean.tramite.justificantePdf.id}"/>
			</h:link>
			<h:outputText/>
			<h:outputLabel for="tramiteBeanTramiteSolicitudPdf" value="Solicitud Pdf:"/>
			<h:link id="tramiteBeanTramiteSolicitudPdf" outcome="/admin/solicitudPdf/view" rendered="#{!empty tramiteBean.tramite.solicitudPdf}" value="#{tramiteBean.tramite.solicitudPdf.nombre}">
				<f:param name="id" value="#{tramiteBean.tramite.solicitudPdf.id}"/>
			</h:link>
			<h:outputText/>
			<h:outputLabel for="tramiteBeanTramiteUnidadResponsable" value="Unidad Responsable:"/>
			<h:outputText id="tramiteBeanTramiteUnidadResponsable" value="#{tramiteBean.tramite.unidadResponsable}"/>
			<h:outputText/>
			<h:outputLabel for="tramiteBeanTramiteClaveUCM" value="Clave UCM:"/>
			<h:outputText id="tramiteBeanTramiteClaveUCM" value="#{tramiteBean.tramite.claveUCM}"/>
			<h:outputText/>
			<h:outputLabel for="tramiteBeanTramitePlantillaEmail" value="Plantilla Email:"/>
			<h:link id="tramiteBeanTramitePlantillaEmail" outcome="/admin/plantillaEmail/view" rendered="#{!empty tramiteBean.tramite.plantillaEmail}" value="#{tramiteBean.tramite.plantillaEmail.nombre}">
				<f:param name="id" value="#{tramiteBean.tramite.plantillaEmail.id}"/>
			</h:link>
			<h:outputText/>
		</h:panelGrid>

		<div class="buttons">
			<h:link value="Ver todos" outcome="search" styleClass="btn btn-primary"/> 
			<h:link value="Editar" outcome="create" includeViewParams="true" styleClass="btn btn-primary"/>
			<h:link value="Crear nuevo" outcome="create" styleClass="btn btn-primary"/>
		</div>
	</ui:define>

</ui:composition>