<ui:composition
	template="/WEB-INF/templates/layout/createMultipartLayout.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
	xmlns:fn="http://xmlns.jcp.org/jsp/jstl/functions"
	xmlns:p="http://primefaces.org/ui" xmlns:o="http://omnifaces.org/ui"
	xmlns:of="http://omnifaces.org/functions">

	<ui:define name="title">Imserso - Sede Electrónica</ui:define>

	<ui:define name="contentTitle">
		<h:outputText
			value="Alta de Solicitud - ${genericoView.tramite.descripcion}"
			styleClass="code" />
	</ui:define>

	<ui:define name="multipartForm">

		<ui:include src="/WEB-INF/templates/layout/personaLayout.xhtml"
			rendered="${templatesBeanName['showRepresentante']}">
			<ui:param name="legend" value="Datos del representante" />
			<ui:param name="templatesBeanName" value="#{genericoView}" />
			<ui:param name="persona" value="representante" />
			<ui:param name="disabledMainFields"
				value="#{genericoView.disabledRepresentanteMainFields}" />
			<ui:param name="hasEmail" value="#{true}" />
			<ui:param name="provinciaListName" value="provincias" />
		</ui:include>


		<ui:include src="/WEB-INF/templates/layout/personaLayout.xhtml">
			<ui:param name="legend" value="Datos de la persona interesada" />
			<ui:param name="templatesBeanName" value="#{genericoView}" />
			<ui:param name="persona" value="solicitante" />
			<ui:param name="disabledMainFields"
				value="#{genericoView.disabledSolicitanteMainFields}" />
			<ui:param name="hasEmail" value="#{true}" />
			<ui:param name="provinciaListName" value="provincias" />
		</ui:include>


		<!-- 		<ui:include src="/WEB-INF/templates/notificacion.xhtml"> -->
		<!-- 			<ui:param name="templatesBeanName" value="#{genericoView}" /> -->
		<!-- 		</ui:include> -->



		<p:fieldset legend="Solicitud" style="margin-bottom:20px">

			<h:panelGrid id="pnlAttachSolicitudAdjunta" columns="1"
				columnClasses="ui-grid-col-12" cellpadding="5" layout="grid"
				styleClass="ui-fluid ui-noborder">

				<h:panelGrid id="pnlAttachSolicitudId" columns="1" layout="grid"
					styleClass="ui-fluid ui-noborder" columnClasses="ui-grid-col-12">

					<p:outputLabel
						value="Seleccione el Formulario de Solicitud en formato PDF que se ha descargado, cumplimentado y firmado previamente. (Si aún no lo ha hecho, pulse en el botón para descargarlo)">
					</p:outputLabel>
					<p:commandLink value="Descargar Formulario" ajax="false">
						<p:fileDownload value="#{genericoView.formularioPdf}" />
					</p:commandLink>
				</h:panelGrid>

				<h:panelGrid id="pnlAttachSolicitud" columns="2" cellpadding="5"
					columnClasses="ui-grid-col-6, ui-grid-col-6">

					<p:fileUpload id="attachSolicitudFileAdj"
						value="#{genericoView.uploadedFile}" mode="advanced"
						fileUploadListener="#{genericoView.solicitudUploadListener}"
						auto="true" multiple="false" cancelLabel="Cancelar"
						label="Seleccione fichero" uploadLabel="Enviar"
						allowTypes="/(\.|\/)(pdf)$/" fileLimit="1" sizeLimit="2048000"
						invalidSizeMessage="El tamaño del fichero es demasiado grande"
						invalidFileMessage="Tipo de fichero no válido"
						fileLimitMessage="No se permite adjuntar más ficheros"
						update="filesDTA" />

					<p:dataTable id="filesDTA" var="item"
						value="#{genericoView.dto.solicitudPdf}" emptyMessage="">

						<p:column headerText="nombre fichero">
							<h:outputText value="${item.nombreFichero}" />
						</p:column>

						<p:column headerText="nombre documento">
							<h:outputText value="#{item.nombreDocumento}" />
						</p:column>

					</p:dataTable>

				</h:panelGrid>

			</h:panelGrid>

		</p:fieldset>


		<ui:include src="/WEB-INF/templates/adjuntos.xhtml">
			<ui:param name="templatesBeanName" value="#{genericoView}" />
		</ui:include>

		<ui:include src="/WEB-INF/templates/createButtons.xhtml">
			<ui:param name="templatesBeanName" value="#{genericoView}" />
		</ui:include>

	</ui:define>

</ui:composition>





