.hermes_cabeceracol1 {
	text-align: left;
	width: 202px;
}

.hermes_cabeceracol2 {
	text-align: center;
	width: 586px;
}

.hermes_cabeceracol3 {
    text-align: center;
	width: 102px;
	font-weight:bold;
	color:#192c69;
	font-size: 11px;
}

.hermes_cabeceracol4 {
    text-align: center;
	width: 100px;
}

.tablaModificacionesCol1 {
	text-align: left;
	width: 40%;
}

.tablaModificacionesCol2 {
	text-align: center;
	width: 30%;
}

.tablaModificacionesCol3 {
	text-align: center;
	width: 30%;
}

correcto {
	color: green;
	vertical-align: middle;
}

.capaAjax_Start {
	position: fixed;
	top: 0px;
	width: 100%;
	height: 100%;
	text-align: center;
	background: #FFFFFF;
	filter: alpha(opacity = 50);
	opacity: 0.50;
}