/*Página del formulario*/
	#content-header{border-bottom: 8px solid #ededed;}
	#content-header .section{margin-top: 1.5em; display: table;}


@media (max-width: 1264px){
	#content-header .section{width: 85%}
}

@media (max-width: 1181px){
	#content-header .section{width: 90% !important;}
}

@media (max-width: 1117px){
	#content-header .section{width: 95% !important;}
}

@media (max-width: 1059px){
	#content-header .section{width: 100% !important;}
}

@media (max-width: 1047px){
	#footer-wrapper #footer .section{width: 100%;}
}

@media (max-width: 1007px){
	#content-header .section .titulo .logo-centro{margin-left: 15px;}
	#content-header .section .titulo h1{margin-left: 15px;}
}

@media (max-width: 981px){
	#content-header .section .titulo{width: 83% !important;}
	#content-header .section #idioma ul > li{display: block; margin-bottom: 20px;}
	#content-header .section #idioma ul li.fecha span{padding: 5px 0;}
}

@media (max-width: 830px){
	#content-header .section .titulo{width: 75% !important;}
	#content-header .section .titulo a{display: block; max-width: 365px;}
	#content-header .section .titulo .logo-centro{display: inline-block; margin-top: 20px;}
}

@media (max-width: 643px){
	#content-header .section .titulo{margin-bottom: 1.5em !important;}
}

@media (max-width: 506px){
	#content-header{position: relative;}
	#content-header .section #idioma{position: absolute; bottom: 1em;}
	#content-header .section .titulo{width: 100% !important; margin-bottom: 3em !important;}
	#content-header .section .titulo a img{max-width: 100%; height: auto;}
	#content-header .section .titulo .logo-centro{margin-left: 0;}
	#content-header .section #idioma ul > li{display: inline-block; margin-bottom: auto;}
}

@media (max-width: 308px){
	#content-header .section .titulo h1{margin-left: 10px;}
}

