<ui:composition xmlns="http://www.w3.org/1999/xhtml"
    xmlns:f="http://xmlns.jcp.org/jsf/core"
    xmlns:h="http://xmlns.jcp.org/jsf/html"
    xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
    xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
    xmlns:fn="http://xmlns.jcp.org/jsp/jstl/functions"
    xmlns:p="http://primefaces.org/ui" xmlns:o="http://omnifaces.org/ui"
    xmlns:of="http://omnifaces.org/functions">



<!----------     TODO: pendiente de implementar     ---------->



  <p:panelGrid columns="1" columnClasses="ui-grid-col-12"
                rendered="#{templatesBeanName['paramValues']['isTurismo']()}">
                <o:outputLabel for="provinciaResidenciaId" value="Provincia" />
                <p:selectOneMenu id="provinciaResidenciaId"
                    value="#{templatesBeanName['dto'][persona]['direccion']['provinciaDto']}"
                    converter="omnifaces.SelectItemsConverter">
                    <f:selectItem itemLabel="" itemValue="#{null}"
                        noSelectionOption="true" />
                    <f:selectItems
                        value="#{templatesBeanName[provinciaListName]}" var="_var"
                        itemLabel="#{_var.descripcion}" itemValue="#{_var}" />
                </p:selectOneMenu>
            </p:panelGrid>


</ui:composition>
