<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	template="/WEB-INF/templates/crudTemplate.xhtml">

	<f:metadata>
		<f:viewParam name="id" value='#{plantillaEmailBean.id}'/>
		<f:event type="preRenderView" listener='#{plantillaEmailBean.retrieve}'/>
	</f:metadata>

	<ui:param name="pageTitle" value="View Plantilla Email"/>

	<ui:define name="header">
		Plantilla Email
	</ui:define>

	<ui:define name="subheader">
		Ver Plantilla Email
	</ui:define>

	<ui:define name="footer"/>

	<ui:define name="main">
		<h:panelGrid columnClasses="label,component,required" columns="3">
			<h:outputLabel for="plantillaEmailBeanPlantillaEmailTexto" value="Texto:"/>
			<h:inputTextarea id="plantillaEmailBeanPlantillaEmailTexto" value="#{plantillaEmailBean.plantillaEmail.texto}" readonly="true" style="width: 490px;" rows="5"/>
			<h:outputText/>
			<h:outputLabel for="plantillaEmailBeanplantillaEmailNombre" value="Nombre:"/>
			<h:outputText id="plantillaEmailBeanplantillaEmailNombre" value="#{plantillaEmailBean.plantillaEmail.nombre}"/>
			<h:outputText/>
			<h:outputLabel for="plantillaEmailBeanplantillaEmailDescripcion" value="Descripcion:"/>
			<h:outputText id="plantillaEmailBeanplantillaEmailDescripcion" value="#{plantillaEmailBean.plantillaEmail.descripcion}"/>
			<h:outputText/>
			<h:outputLabel for="plantillaEmailBeanPlantillaEmailIdioma" value="Idioma:"/>
			<h:link id="plantillaEmailBeanPlantillaEmailIdioma" outcome="/admin/idioma/view" rendered="#{!empty plantillaEmailBean.plantillaEmail.idioma}" value="#{plantillaEmailBean.plantillaEmail.idioma}">
				<f:param name="id" value="#{plantillaEmailBean.plantillaEmail.idioma.id}"/>
			</h:link>
			<h:outputText/>
			<h:outputLabel for="plantillaEmailBeanPlantillaEmailTramites" value="Tramites:" rendered="#{plantillaEmailBean.plantillaEmail.tramites!=null  and plantillaEmailBean.plantillaEmail.tramites.size()>0}"/>
			<h:dataTable id="plantillaEmailBeanPlantillaEmailTramites" styleClass="data-table" value="#{plantillaEmailBean.plantillaEmail.tramites}" var="_item"
			rendered="#{plantillaEmailBean.plantillaEmail.tramites!=null and plantillaEmailBean.plantillaEmail.tramites.size()>0}">
				<h:column>
					<f:facet name="header">
						<h:outputText value="Codigo SIA"/>
					</f:facet>
					<h:link outcome="/admin/tramite/view">
						<f:param name="id" value="#{_item.id}"/>
						<h:outputText id="itemCodigoSIA" value="#{_item.codigoSIA}"/>
					</h:link>
				</h:column>
				<h:column>
					<f:facet name="header">
						<h:outputText value="Descripcion"/>
					</f:facet>
					<h:link outcome="/admin/tramite/view">
						<f:param name="id" value="#{_item.id}"/>
						<h:outputText id="itemDescripcion" value="#{_item.descripcion}"/>
					</h:link>
				</h:column>
				<h:column>
					<f:facet name="header">
						<h:outputText value="Nombre"/>
					</f:facet>
					<h:link outcome="/admin/tramite/view">
						<f:param name="id" value="#{_item.id}"/>
						<h:outputText id="itemNombre" value="#{_item.nombre}"/>
					</h:link>
				</h:column>
				<h:column>
					<f:facet name="header">
						<h:outputText value="Unidad Responsable"/>
					</f:facet>
					<h:link outcome="/admin/tramite/view">
						<f:param name="id" value="#{_item.id}"/>
						<h:outputText id="itemUnidadResponsable" value="#{_item.unidadResponsable}"/>
					</h:link>
				</h:column>
			</h:dataTable>
			<h:outputText/>
		</h:panelGrid>

		<div class="buttons">
			<h:link value="Ver todos" outcome="search" styleClass="btn btn-primary"/> 
			<h:link value="Editar" outcome="create" includeViewParams="true" styleClass="btn btn-primary"/>
			<h:link value="Crear nuevo" outcome="create" styleClass="btn btn-primary"/>
		</div>
	</ui:define>

</ui:composition>