<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:rich="http://richfaces.org/rich"
	xmlns:a="http://richfacesj.org/a4j">

	<h:form id="cabeceraForm">
		<!-- 		<h:graphicImage  height="25px" width="25px" value="/img/achtung.jpg" rendered="#{seguridadService.leeInstanciaSeguridad().getAplicacionBloqueada()}" -->
		<!-- 				alt="aplicación bloqueada" /> -->
		<h:panelGrid columns="5" styleClass="cabecera"
			columnClasses="hermes_cabeceracol1, hermes_cabeceracol2, hermes_cabeceracol3, hermes_cabeceracol4">

			<h:graphicImage
				url="http://imserso/Inicio/recursosaplicaciones/imagenes/logoimserso.jpg"
				alt="Logotipo del IMSERSO" />
			<h:graphicImage value="/img/sede_gestion_logo_peque.jpg"
				alt="Logotipo de la aplicación" height="50px" />

			<h:panelGrid cellpadding="0" cellspacing="0"
				style="text-align:center;color:#192c69;font-size: 11px;">

				<h:outputText value="#{userPrincipal}" rendered="#{loggedIn}" />

			</h:panelGrid>
			<h:commandButton image="/img/puerta.gif" style="width:30px;height:30px;"
				action="#{loginBean.logout()}" rendered="#{loggedIn}"
				value="desconectar" alt="desconectarse" />

		</h:panelGrid>
	</h:form>
</ui:composition>
