<ui:composition 
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:rich="http://richfaces.org/rich">
    
	<h:panelGrid columns="4" styleClass="cabecera"
		columnClasses="hermes_cabeceracol1, hermes_cabeceracol2, hermes_cabeceracol3, hermes_cabeceracol4">
		 
		<h:graphicImage value="http://imserso/Inicio/recursosaplicaciones/imagenes/logoimserso.jpg" alt="Logotipo del IMSERSO" />
		<h:graphicImage value="/img/sede_gestion_logo_grande.jpg" alt="Logotipo de la aplicación" height="50"/>
		<h:panelGroup>
		</h:panelGroup>
		<h:panelGroup>
		</h:panelGroup>
	</h:panelGrid>
	
</ui:composition>
