<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:forgeview="http://jboss.org/forge/view"
	template="/resources/scaffold/pageTemplate.xhtml">

	<f:metadata>
		<f:viewParam name="page" value='#{historicoEstadoSolicitudBean.page}'/>
		<f:event type="preRenderView" listener='#{historicoEstadoSolicitudBean.paginate}'/>
	</f:metadata>

	<ui:param name="pageTitle" value="Buscar Historico Estado Solicitud "/>

	<ui:define name="header">
		Historico Estado Solicitud
	</ui:define>

	<ui:define name="subheader">
		Buscar Historico Estado Solicitud 
	</ui:define>

	<ui:define name="footer"/>

	<ui:define name="main">
		<h:form id="search">
			<f:validateBean disabled="true">
				<h:panelGroup styleClass="search">

					<h:panelGrid columnClasses="label,component,required" columns="3">
						<h:outputLabel for="historicoEstadoSolicitudBeanExampleUsuario" value="Usuario:"/>
						<h:panelGroup>
							<h:inputText id="historicoEstadoSolicitudBeanExampleUsuario" value="#{historicoEstadoSolicitudBean.example.usuario}"/>
							<h:message for="historicoEstadoSolicitudBeanExampleUsuario" styleClass="error"/>
						</h:panelGroup>
						<h:outputText/>
						<h:outputLabel for="historicoEstadoSolicitudBeanExampleSolicitud" value="Solicitud:"/>
						<h:panelGroup>
							<h:selectOneMenu converter="#{solicitudBean.converter}" id="historicoEstadoSolicitudBeanExampleSolicitud" value="#{historicoEstadoSolicitudBean.example.solicitud}">
								<f:selectItem/>
								<f:selectItems itemLabel="#{forgeview:display(_item)}" itemValue="#{_item}" value="#{solicitudBean.all}" var="_item"/>
							</h:selectOneMenu>
							<h:message for="historicoEstadoSolicitudBeanExampleSolicitud" styleClass="error"/>
						</h:panelGroup>
						<h:outputText/>
						<h:outputLabel for="historicoEstadoSolicitudBeanExampleEstado" value="Estado:"/>
						<h:panelGroup>
							<h:selectOneMenu id="historicoEstadoSolicitudBeanExampleEstado" value="#{historicoEstadoSolicitudBean.example.estado}">
								<f:selectItem/>
								<f:selectItem itemValue="PENDIENTE"/>
								<f:selectItem itemValue="APROBADA"/>
								<f:selectItem itemValue="RECHAZADA"/>
								<f:selectItem itemValue="CANCELADA"/>
								<f:selectItem itemValue="TRAMITANDOSE"/>
								<f:selectItem itemValue="GESTIONADO_POR_APLICACION"/>
							</h:selectOneMenu>
							<h:message for="historicoEstadoSolicitudBeanExampleEstado" styleClass="error"/>
						</h:panelGroup>
						<h:outputText/>
					</h:panelGrid>
					<h:panelGroup styleClass="buttons">
						<h:commandLink value="Buscar" action='#{historicoEstadoSolicitudBean.search}' styleClass="btn btn-primary"/>
						<h:commandLink value="Crear nuevo" action='#{historicoEstadoSolicitudBean.create}' styleClass="btn btn-primary"/>
					</h:panelGroup>
				</h:panelGroup>
			</f:validateBean>
			
			<h:dataTable id="historicoEstadoSolicitudBeanPageItems" styleClass="data-table" value="#{historicoEstadoSolicitudBean.pageItems}" var="_item">
				<h:column>
					<f:facet name="header">
						<h:outputText value="Usuario"/>
					</f:facet>
					<h:link outcome="/admin/historicoEstadoSolicitud/view">
						<f:param name="id" value="#{_item.id}"/>
						<h:outputText id="itemUsuario" value="#{_item.usuario}"/>
					</h:link>
				</h:column>
				<h:column>
					<f:facet name="header">
						<h:outputText value="Solicitud"/>
					</f:facet>
					<h:link outcome="/admin/historicoEstadoSolicitud/view">
						<f:param name="id" value="#{_item.id}"/>
						<h:outputText id="forgeviewdisplayitemSolicitud" value="#{forgeview:display(_item.solicitud)}"/>
					</h:link>
				</h:column>
				<h:column>
					<f:facet name="header">
						<h:outputText value="Fecha Modificacion"/>
					</f:facet>
					<h:link outcome="/admin/historicoEstadoSolicitud/view">
						<f:param name="id" value="#{_item.id}"/>
						<h:outputText id="itemFechaModificacion" value="#{_item.fechaModificacion}">
							<f:convertDateTime type="both"/>
						</h:outputText>
					</h:link>
				</h:column>
				<h:column>
					<f:facet name="header">
						<h:outputText value="Estado"/>
					</f:facet>
					<h:link outcome="/admin/historicoEstadoSolicitud/view">
						<f:param name="id" value="#{_item.id}"/>
						<h:outputText id="itemEstado" value="#{_item.estado}"/>
					</h:link>
				</h:column>
			</h:dataTable>
			<ui:include src="/resources/scaffold/paginator.xhtml">
				<ui:param name="paginatorBean" value='#{historicoEstadoSolicitudBean}'/>
			</ui:include>
		</h:form>
			
	</ui:define>

</ui:composition>
