<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	template="/resources/scaffold/pageTemplate.xhtml">

	<f:metadata>
		<f:viewParam name="id" value='#{historicoEstadoSolicitudBean.id}'/>
		<f:event type="preRenderView" listener='#{historicoEstadoSolicitudBean.retrieve}'/>
	</f:metadata>

	<ui:param name="pageTitle" value="View Historico Estado Solicitud"/>

	<ui:define name="header">
		Historico Estado Solicitud
	</ui:define>

	<ui:define name="subheader">
		Ver Historico Estado Solicitud
	</ui:define>

	<ui:define name="footer"/>

	<ui:define name="main">
		<h:panelGrid columnClasses="label,component,required" columns="3">
			<h:outputLabel for="historicoEstadoSolicitudBeanHistoricoEstadoSolicitudUsuario" value="Usuario:"/>
			<h:outputText id="historicoEstadoSolicitudBeanHistoricoEstadoSolicitudUsuario" value="#{historicoEstadoSolicitudBean.historicoEstadoSolicitud.usuario}"/>
			<h:outputText/>
			<h:outputLabel for="historicoEstadoSolicitudBeanHistoricoEstadoSolicitudSolicitud" value="Solicitud:"/>
			<h:link id="historicoEstadoSolicitudBeanHistoricoEstadoSolicitudSolicitud" outcome="/admin/solicitud/view" rendered="#{!empty historicoEstadoSolicitudBean.historicoEstadoSolicitud.solicitud}" value="#{historicoEstadoSolicitudBean.historicoEstadoSolicitud.solicitud}">
				<f:param name="id" value="#{historicoEstadoSolicitudBean.historicoEstadoSolicitud.solicitud.id}"/>
			</h:link>
			<h:outputText/>
			<h:outputLabel for="historicoEstadoSolicitudBeanHistoricoEstadoSolicitudFechaModificacion" value="Fecha Modificacion:"/>
			<h:outputText id="historicoEstadoSolicitudBeanHistoricoEstadoSolicitudFechaModificacion" value="#{historicoEstadoSolicitudBean.historicoEstadoSolicitud.fechaModificacion}">
				<f:convertDateTime pattern="MMM d, yyyy hh:mm:ss a" type="both"/>
			</h:outputText>
			<h:outputText/>
			<h:outputLabel for="historicoEstadoSolicitudBeanHistoricoEstadoSolicitudEstado" value="Estado:"/>
			<h:outputText id="historicoEstadoSolicitudBeanHistoricoEstadoSolicitudEstado" value="#{historicoEstadoSolicitudBean.historicoEstadoSolicitud.estado}"/>
			<h:outputText/>
		</h:panelGrid>

		<div class="buttons">
			<h:link value="Ver todos" outcome="search" styleClass="btn btn-primary"/> 
			<h:link value="Editar" outcome="create" includeViewParams="true" styleClass="btn btn-primary"/>
			<h:link value="Crear nuevo" outcome="create" styleClass="btn btn-primary"/>
		</div>
	</ui:define>

</ui:composition>