.ui-widget {
    font-size: 90%;
}

.ui-widget-overlay {
    opacity: 0.5;
}

.highlight1 {
    background: #ffe5e5 !important;
}

.highlight2 {
    background: #e9ffe2 !important;
    font-weight: bold;
}