<ui:composition
	template="/WEB-INF/templates/layout/createMultipartLayout.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
	xmlns:fn="http://xmlns.jcp.org/jsp/jstl/functions"
	xmlns:p="http://primefaces.org/ui" xmlns:o="http://omnifaces.org/ui"
	xmlns:of="http://omnifaces.org/functions">

	<ui:define name="title">Imserso - Sede Electrónica</ui:define>

	<ui:define name="contentTitle">
		<h:outputText
			value="Consulta de trámites presentadas a través de esta Sede Electrónica"
			styleClass="code" />
	</ui:define>

	<ui:define name="content">

		<o:form>

			<p:importEnum
				type="es.imserso.hermes.session.webservice.dto.TipoDocumentoRegistrado"
				var="tipoDocumentoRegistrado" allSuffix="ALL_ENUM_VALUES" />

			<p:panel id="pnlRoot" style="margin-bottom:20px">

				<p:panelGrid columns="2" layout="grid" style="margin:20px">
					<h:outputText
						value="NIF/NIE: #{solicitudesUsuarioView.usuario.NIF_CIF}" />
					<h:outputText
						value="Nombre: #{solicitudesUsuarioView.usuario.nombreCompleto}" />
				</p:panelGrid>


				<p:separator />

				<p:dataTable id="tbl" var="solicitud" rows="10"
					value="#{solicitudesUsuarioView.list}" style="margin:20px"
					sortBy="#{solicitud.fechaAlta}" sortOrder="descending"
					paginator="true" pageLinks="50">

					<p:ajax event="rowSelect"
						listener="#{solicitudesUsuarioView.onRowSelect}" />

					<p:column headerText="Trámite">
						<h:outputText value="#{solicitud.tramite.nombre}" />
					</p:column>

					<p:column headerText="Fecha Alta" style="text-align: center">
						<h:outputText value="#{solicitud.fechaAlta}">
							<f:convertDateTime type="date" dateStyle="medium" locale="es" />
						</h:outputText>
					</p:column>

					<p:column width="25">
						<p:commandButton update="@form:detailDialog"
							icon="ui-icon-document" label="detalle"
							oncomplete="PF('detailDialog').show()"
							title="detalle del expediente">
							<f:setPropertyActionListener value="#{solicitud}"
								target="#{solicitudesUsuarioView.selectedSolicitud}" />
						</p:commandButton>
					</p:column>

				</p:dataTable>

				<p:ajaxStatus onstart="PF('bui').show()"
					oncomplete="PF('bui').hide()" />

				<p:blockUI block="tbl" widgetVar="bui">
					<p:graphicImage library="demo" name="/images/ajaxloadingbar.gif" />
				</p:blockUI>

				<p:contextMenu for="tbl">
					<p:menuitem value="Detalle" update="detailDialog"
						actionListener="#{solicitudesUsuarioView.loadDetail()}"
						icon="ui-icon-search" oncomplete="PF('detailDialog').show()" />
				</p:contextMenu>

				<p:dialog id="detailDialog" header="Detalle del trámite"
					widgetVar="detailDialog" modal="true" showEffect="fade"
					hideEffect="fade" resizable="false">

					<p:outputPanel id="solicitudDetail" autoUpdate="true">

						<p:panelGrid columns="2">
							<f:facet name="header">
								<h:outputText value="Datos de solicitud" />
							</f:facet>
							<h:outputText value="Trámite:" />
							<h:outputText
								value="#{solicitudesUsuarioView.selectedSolicitudFull.tramite.descripcion}" />
							<h:outputText value="Nombre solicitante:" />
							<h:outputText
								value="#{solicitudesUsuarioView.selectedSolicitudFull.nombreCompleto}" />
							<h:outputText value="NIF/CIF:" />
							<h:outputText
								value="#{solicitudesUsuarioView.selectedSolicitudFull.documentoIdentificacion}" />
							<h:outputText value="Fecha de solicitud:" />
							<h:outputText
								value="#{solicitudesUsuarioView.selectedSolicitudFull.fechaAlta}">
								<f:convertDateTime pattern="dd/MM/yyyy hh:mm:ss" />
							</h:outputText>
							<h:outputText value="Estado:" />
							<h:outputText
								value="#{solicitudesUsuarioView.selectedSolicitudFull.estadoAsString}" />
						</p:panelGrid>

						<o:socket channel="solicitudStateChannel"
							onmessage="solicitudStateSocketListener"
							onopen="socketOpenListener" onclose="socketCloseListener" />

						<p:spacer height="20" width="50" />

						<p:panelGrid columns="1">
							<f:facet name="header">
								<h:outputText value="Justificante del Registro" />
							</f:facet>
							<p:commandLink
								value="#{tipoDocumentoRegistrado.JUSTIFICANTE.nombreDocumentoPorDefecto}"
								ajax="false">
								<p:fileDownload
									value="#{solicitudesUsuarioView.pdfJustificante}" />
							</p:commandLink>
						</p:panelGrid>

						<p:spacer height="20" width="50" />

						<p:panelGrid columns="1">
							<f:facet name="header">
								<h:outputText value="Solicitud entregada" />
							</f:facet>
							<p:commandLink
								value="#{tipoDocumentoRegistrado.SOLICITUD.nombreDocumentoPorDefecto}"
								ajax="false">
								<p:fileDownload value="#{solicitudesUsuarioView.pdfSolicitud}" />
							</p:commandLink>
						</p:panelGrid>

						<p:spacer height="20" width="50" />

						<p:panelGrid columns="1"
							rendered="#{not empty solicitudesUsuarioView.adjuntos.documentoSolicitudAdjunta}">
							<f:facet name="header">
								<h:outputText value="Solicitud adjuntada" />
							</f:facet>
							<p:commandLink
								value="#{tipoDocumentoRegistrado.SOLICITUD_ADJUNTA.nombreDocumentoPorDefecto}"
								ajax="false">
								<p:fileDownload
									value="#{solicitudesUsuarioView.pdfSolicitudAdjuntada}" />
							</p:commandLink>
						</p:panelGrid>

						<p:spacer height="20" width="50" />

						<p:panelGrid columns="1"
							rendered="#{not empty solicitudesUsuarioView.adjuntos.documentosAdjuntados}">
							<f:facet name="header">
								<h:outputText value="Documentos Adjuntos" />
							</f:facet>

							<ui:repeat var="doc" varStatus="status"
								value="#{solicitudesUsuarioView.adjuntos.documentosAdjuntados}">

								<p:commandLink value="#{doc.nombreFichero}" ajax="false">
									<p:fileDownload
										value="#{solicitudesUsuarioView.getDocumentoAdjuntado(status.index)}" />
								</p:commandLink>
								<br />
							</ui:repeat>
						</p:panelGrid>

					</p:outputPanel>

					<p:separator />

					<p:commandButton value="Cerrar" onclick="PF('detailDialog').hide()"
						type="button" />

				</p:dialog>

			</p:panel>
		</o:form>

	</ui:define>
</ui:composition>
