<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:o="http://omnifaces.org/ui"
    xmlns:of="http://omnifaces.org/functions"
    xmlns:p="http://primefaces.org/ui"
    xmlns:c="http://java.sun.com/jsp/jstl/core">

<h:head>
    <f:metadata>
        <f:attribute name="content" value="text/html; utf-8" />
    </f:metadata>
</h:head>

<h:body>

<h2>Gestión de errores</h2>

	<h:form id="errorForm" name="errorForm" acceptcharset="UTF-8" lang="es">

		<p:messages autoUpdate="true" globalOnly="true" />

	</h:form>

</h:body>
</html>



