<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui">


<h:head>
	<title>Confirmación del registro de su solicitud</title>
	<style type="text/css">
.ui-widget {
	font-size: 90%;
}
</style>
</h:head>

<h:body>


	<h:form>
		<p:commandButton value="descargar formulario solicitud" ajax="false"
			icon="ui-icon-arrowthick-1-s"
			action="/app/respuesta_alta?faces-redirect=true&amp;idSolicitud=280">
			<p:fileDownload value="#{respuestaAltaView.pdfSolicitud}" />
		</p:commandButton>

		<p:commandButton value="sincronizar solicitudes con Hermes"
			ajax="false" icon="ui-icon-transfer-e-w"
			action="#{hermesSolicitudSynchronizer.batchSynchronize()}" />

		<p:commandButton value="PUSH" ajax="false" icon="ui-icon-transfer-e-w"
			action="#{pushMock.sendMessage()}" />

	</h:form>
</h:body>

</html>