<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html">
<h:head />
<body>
<h:form>
    <h:outputLabel value="Enter your name: " />
    <h:inputText value="#{testView.firstName}" lang="es" />
    <h:commandButton type="submit" actionListener="#{testView.save()}" value="save" />
</h:form>
</body>
</html>