<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
	xmlns:fn="http://xmlns.jcp.org/jsp/jstl/functions"
	xmlns:p="http://primefaces.org/ui" xmlns:o="http://omnifaces.org/ui"
	xmlns:of="http://omnifaces.org/functions">


	<p:fieldset legend="#{legend}" style="margin-bottom:20px">


		<!-- DATOS PRINCIPALES DE LA PERSONA -->

		<p:panelGrid columns="4" layout="grid" styleClass="ui-fluid ui-noborder">


			<!-- nombre -->

			<p:panelGrid columns="1" columnClasses="ui-grid-col-12">
				<p:outputLabel for="@next" value="Nombre" />
				<p:inputText maxlength="35" size="35"
					style="text-transform: uppercase" disabled="#{disabledMainFields}"
					value="#{templatesBeanName['dto'][persona]['nombre']}" />
			</p:panelGrid>


			<!-- primer apellido -->

			<p:panelGrid columns="1" columnClasses="ui-grid-col-12">
				<p:outputLabel for="@next" value="Primer Apellido" />
				<p:inputText maxlength="35" size="35"
					style="text-transform: uppercase" disabled="#{disabledMainFields}"
					value="#{templatesBeanName['dto'][persona]['apellido1']}" />
			</p:panelGrid>


			<!-- segundo apellido -->

			<p:panelGrid columns="1" columnClasses="ui-grid-col-12">
				<p:outputLabel for="@next" value="Segundo Apellido" />
				<p:inputText maxlength="35" size="35"
					style="text-transform: uppercase" disabled="#{disabledMainFields}"
					value="#{templatesBeanName['dto'][persona]['apellido2']}" />
			</p:panelGrid>


			<!-- documento de identificación -->

			<p:panelGrid columns="1" columnClasses="ui-grid-col-12">
				<p:outputLabel for="@next" value="NIF/NIE" />
				<p:inputText maxlength="9" style="text-transform: uppercase"
					disabled="#{disabledMainFields}"
					value="#{templatesBeanName['dto'][persona]['documentoIdentificacion']}" />
			</p:panelGrid>

		</p:panelGrid>




		<!-- DATOS SECUNDARIOS DE LA PERSONA -->

		<p:panelGrid columns="3" layout="grid" styleClass="ui-fluid ui-noborder" rendered="#{(hasSecondaryFields == null ? true : hasSecondaryFields)}">


			<!-- fecha de nacimiento -->

			<p:panelGrid columns="1" columnClasses="ui-grid-col-12" rendered="#{(hasFechaNacimiento == null ? true : hasFechaNacimiento)}">
				<p:outputLabel for="@next" value="Fecha Nacimiento" />
				<p:calendar navigator="true" locale="es" lang="es"
					pagedate="01/01/1950"
					value="#{templatesBeanName['dto'][persona]['fechaNacimiento']}"
					pattern="dd/MM/yyyy" mask="true" />
			</p:panelGrid>


			<!-- sexo -->

			<p:panelGrid columns="1" columnClasses="ui-grid-col-12"
				rendered="#{templatesBeanName['paramValues']['isTurismo']() and (hasSexo == null ? true : hasSexo) }">
				<p:outputLabel for="@next" value="Sexo" />
				<p:selectOneMenu
					value="#{templatesBeanName['dto'][persona]['selectedSexo']}"
					converter="omnifaces.SelectItemsConverter">
					<f:selectItem itemLabel="" itemValue="#{null}"
						noSelectionOption="true" />
					<f:selectItems value="#{templatesBeanName['sexos']}" var="_var"
						itemLabel="#{_var.descripcion}" itemValue="#{_var}" />
				</p:selectOneMenu>
			</p:panelGrid>
			
            <p:panelGrid columns="1" columnClasses="ui-grid-col-12"
                rendered="#{templatesBeanName['paramValues']['isTermalismo']() and (hasSexo == null ? true : hasSexo) }">
                <p:outputLabel for="@next" value="Sexo" />
                <p:selectOneMenu
                    value="#{templatesBeanName['dto'][persona]['selectedSexo']}"
                    converter="omnifaces.SelectItemsConverter">
                    <f:selectItem itemLabel="" itemValue="#{null}"
                        noSelectionOption="true" />
                    <f:selectItems value="#{templatesBeanName['listaSexos']}" var="_var"
                        itemLabel="#{_var.descripcion}" itemValue="#{_var}" />
                </p:selectOneMenu>
            </p:panelGrid>
			

			<!-- estado civil -->

			<p:panelGrid columns="1" columnClasses="ui-grid-col-12"
				rendered="#{templatesBeanName['paramValues']['isTurismo']() and (hasEstadoCivil == null ? true : hasEstadoCivil)}">
				<p:outputLabel for="@next" value="Estado Civil" />
				<p:selectOneMenu
					value="#{templatesBeanName['dto'][persona]['selectedEstadoCivil']}"
					converter="omnifaces.SelectItemsConverter">
					<f:selectItem itemLabel="" itemValue="#{null}"
						noSelectionOption="true" />
					<f:selectItems value="#{templatesBeanName['estadosCiviles']}"
						var="_var" itemLabel="#{_var.descripcion}" itemValue="#{_var}" />
				</p:selectOneMenu>
			</p:panelGrid>
			<p:panelGrid columns="1" columnClasses="ui-grid-col-12"
				rendered="#{templatesBeanName['paramValues']['isTermalismo']() and (hasEstadoCivil == null ? true : hasEstadoCivil)}">
				<p:outputLabel for="@next" value="Estado Civil" />
				<p:selectOneMenu value="#{templatesBeanName['dto'][persona]['selectedEstadoCivil']}"
					label="Estado civil" converter="omnifaces.SelectItemsConverter">
					<f:selectItem itemLabel="" itemValue="#{null}" />
					<f:selectItems value="#{templatesBeanName['estadosCiviles']}"
						var="eCivil" itemLabel="#{eCivil.descripcion}" />
				</p:selectOneMenu>
			</p:panelGrid>

		</p:panelGrid>



		<!-- DATOS DE RESIDENCIA DE LA PERSONA -->

		<p:panelGrid columns="5" layout="grid" styleClass="ui-fluid ui-noborder" rendered="#{(hasAddress == null ? true : hasAddress)}">


			<!-- domicilio -->

			<p:panelGrid columns="1" columnClasses="ui-grid-col-12" rendered="#{(hasDomicilio == null ? true : hasDomicilio)}">
				<p:outputLabel for="@next" value="Domicilio" />
				<p:inputText maxlength="40" size="40"
					value="#{templatesBeanName['dto'][persona]['direccion']['domicilio']}" />
			</p:panelGrid>


			<!-- localidad -->

			<p:panelGrid columns="1" columnClasses="ui-grid-col-12" rendered="#{(hasLocalidad == null ? true : hasLocalidad)}">
				<p:outputLabel for="@next" value="Localidad" />
				<p:inputText maxlength="32" size="32"
					style="text-transform: uppercase"
					value="#{templatesBeanName['dto'][persona]['direccion']['localidad']}" />
			</p:panelGrid>


			<!-- código postal -->

			<p:panelGrid columns="1" columnClasses="ui-grid-col-12" rendered="#{(hasCodigoPostal == null ? true : hasCodigoPostal)}">
				<p:outputLabel for="@next" value="C.Postal" />
				<p:inputText maxlength="5" size="5"
					value="#{templatesBeanName['dto'][persona]['direccion']['codigoPostal']}" />
			</p:panelGrid>


			<!-- provincia -->

			<p:panelGrid columns="1" columnClasses="ui-grid-col-12"
				rendered="#{templatesBeanName['paramValues']['isTurismo']() and (hasProvincia == null ? true : hasProvincia)}">
				<p:outputLabel for="@next" value="Provincia" />
				<p:selectOneMenu
					value="#{templatesBeanName['dto'][persona]['direccion']['selectedProvincia']}"
					converter="omnifaces.SelectItemsConverter">
					<f:selectItem itemLabel="" itemValue="#{null}"
						noSelectionOption="true" />
					<f:selectItems value="#{templatesBeanName[provinciaListName]}"
						var="_var" itemLabel="#{_var.descripcion}" itemValue="#{_var}" />
				</p:selectOneMenu>
			</p:panelGrid>
			<p:panelGrid columns="1" columnClasses="ui-grid-col-12"
				rendered="#{templatesBeanName['paramValues']['isTermalismo']() and (hasProvincia == null ? true : hasProvincia)}">
				<p:outputLabel for="@next" value="Provincia" />
				<p:selectOneMenu value="#{templatesBeanName['dto'][persona]['direccion']['selectedProvincia']}"
					converter="omnifaces.SelectItemsConverter">
					<f:selectItem itemLabel="" itemValue="#{null}"
						noSelectionOption="true" />
					<f:selectItems value="#{templatesBeanName['listaProvincias']}"
						var="_var" itemLabel="#{_var.descripcion}" />
				</p:selectOneMenu>
			</p:panelGrid>
			<p:panelGrid columns="1" columnClasses="ui-grid-col-12"
				rendered="#{!(templatesBeanName['paramValues']['isTurismo']() or templatesBeanName['paramValues']['isTermalismo']()) and (hasProvincia == null ? true : hasProvincia)}">
				<p:outputLabel for="@next" value="Provincia" />
				<p:inputText maxlength="20" size="20"
					style="text-transform: uppercase"
					value="#{templatesBeanName['dto'][persona]['direccion']['provincia']}" />
			</p:panelGrid>


			<!-- país -->

			<p:panelGrid columns="1" columnClasses="ui-grid-col-12"
				rendered="#{(hasPais == null ? true : hasPais)}">
				<p:outputLabel for="@next" value="País" />
				<p:inputText maxlength="20" size="10"
					style="text-transform: uppercase"
					value="#{templatesBeanName['dto'][persona]['direccion']['pais']}" />
			</p:panelGrid>

		</p:panelGrid>



		<!-- DATOS DE CONTACTO DE LA PERSONA -->

		<p:panelGrid columns="1" columnClasses="ui-grid-col-12"
			layout="grid" styleClass="ui-fluid ui-noborder" rendered="#{(hasContactData == null ? true : hasContactData)}">


			<!-- teléfonos -->

			<p:panelGrid columns="2" columnClasses="ui-grid-col-6,ui-grid-col-6"
				layout="grid" styleClass="ui-fluid ui-noborder"
				rendered="#{(hasPhoneNumbers == null ? true : hasPhoneNumbers)}">

				<!-- teléfono 1 -->

				<p:panelGrid columns="1" columnClasses="ui-grid-col-12">
					<p:outputLabel for="@next" value="Teléfono 1" />
					<p:inputText maxlength="15" size="10"
						value="#{templatesBeanName['dto'][persona]['telefono']}" />
				</p:panelGrid>


				<!-- teléfono 2 -->

				<p:panelGrid columns="1" columnClasses="ui-grid-col-12">
					<p:outputLabel for="@next" value="Teléfono 2" />
					<p:inputText maxlength="15" size="10"
						value="#{templatesBeanName['dto'][persona]['telefono2']}" />
				</p:panelGrid>

			</p:panelGrid>


			<!-- correo electrónico -->

			<p:panelGrid columns="2" columnClasses="ui-grid-col-6,ui-grid-col-6"
				layout="grid" styleClass="ui-fluid ui-noborder"
				rendered="#{(hasEmail == null ? true : hasEmail)}">

				<p:panelGrid columns="1" columnClasses="ui-grid-col-12">
					<p:outputLabel for="@next" value="Correo Electrónico" />
					<p:inputText maxlength="50" size="50"
						value="#{templatesBeanName['dto'][persona]['email']['direccion']}" />
				</p:panelGrid>

				<p:panelGrid columns="1" columnClasses="ui-grid-col-12">
					<p:outputLabel for="@next"
						value="Repita correo electrónico" />
					<p:inputText maxlength="50" size="50"
						value="#{templatesBeanName['dto'][persona]['email']['direccionConfirm']}" />
				</p:panelGrid>

			</p:panelGrid>
			
		</p:panelGrid>
		
	</p:fieldset>


</ui:composition>
