<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	template="/WEB-INF/templates/crudTemplate.xhtml">

	<f:metadata>
		<f:viewParam name="id" value='#{solicitudBean.id}'/>
		<f:event type="preRenderView" listener='#{solicitudBean.retrieve}'/>
	</f:metadata>

	<ui:param name="pageTitle" value="View Solicitud"/>

	<ui:define name="header">
		Solicitud
	</ui:define>

	<ui:define name="subheader">
		Ver Solicitud
	</ui:define>

	<ui:define name="footer"/>

	<ui:define name="main">
		<h:panelGrid columnClasses="label,component,required" columns="3">
			<h:outputLabel for="solicitudBeanSolicitudTramite" value="Tramite:"/>
			<h:link id="solicitudBeanSolicitudTramite" outcome="/admin/tramite/view" rendered="#{!empty solicitudBean.solicitud.tramite}" 
					value="#{solicitudBean.solicitud.tramite.descripcion}">
				<f:param name="id" value="#{solicitudBean.solicitud.tramite.id}"/>
			</h:link>
			<h:outputText/>		
			<h:outputLabel for="solicitudBeanSolicitudNumeroRegistro" value="Numero Registro:"/>
			<h:outputText id="solicitudBeanSolicitudNumeroRegistro" value="#{solicitudBean.solicitud.numeroRegistro}"/>
			<h:outputText/>
			<h:outputLabel for="solicitudBeanSolicitudFechaAlta" value="Fecha Alta:"/>
			<h:outputText id="solicitudBeanSolicitudFechaAlta" value="#{solicitudBean.solicitud.fechaAlta}">
				<f:convertDateTime pattern="dd/MM/yyyy" type="date"/>
			</h:outputText>
			<h:outputText/>
			<h:outputLabel for="solicitudBeanSolicitudNombre" value="Nombre:"/>
			<h:outputText id="solicitudBeanSolicitudNombre" value="#{solicitudBean.solicitud.nombre}"/>
			<h:outputText/>
			<h:outputLabel for="solicitudBeanSolicitudApellido1" value="Apellido 1:"/>
			<h:outputText id="solicitudBeanSolicitudApellido1" value="#{solicitudBean.solicitud.apellido1}"/>
			<h:outputText/>
			<h:outputLabel for="solicitudBeanSolicitudApellido2" value="Apellido 2:"/>
			<h:outputText id="solicitudBeanSolicitudApellido2" value="#{solicitudBean.solicitud.apellido2}"/>
			<h:outputText/>
			<h:outputLabel for="solicitudBeanSolicitudDocumentoIdentificacion" value="Documento Identificacion:"/>
			<h:outputText id="solicitudBeanSolicitudDocumentoIdentificacion" value="#{solicitudBean.solicitud.documentoIdentificacion}"/>
			<h:outputText/>
			
			
			<h:outputLabel for="solicitudBeanSolicitudNombreRep" value="Nombre Representante:"/>
			<h:outputText id="solicitudBeanSolicitudNombreRep" value="#{solicitudBean.solicitud.nombreRepresentante}"/>
			<h:outputText/>
			<h:outputLabel for="solicitudBeanSolicitudApellido1Rep" value="Apellido 1 Representante:"/>
			<h:outputText id="solicitudBeanSolicitudApellido1Rep" value="#{solicitudBean.solicitud.apellido1Representante}"/>
			<h:outputText/>
			<h:outputLabel for="solicitudBeanSolicitudApellido2Rep" value="Apellido 2 Representante:"/>
			<h:outputText id="solicitudBeanSolicitudApellido2Rep" value="#{solicitudBean.solicitud.apellido2Representante}"/>
			<h:outputText/>
			<h:outputLabel for="solicitudBeanSolicitudDocumentoIdentificacionRep" value="Documento Identificacion Representante:"/>
			<h:outputText id="solicitudBeanSolicitudDocumentoIdentificacionRep" value="#{solicitudBean.solicitud.documentoIdentificacionRepresentante}"/>
			<h:outputText/>			
						
						
						
			<h:outputLabel for="solicitudBeanSolicitudObservacionesInternas" value="Observaciones Internas:"/>
			<h:outputText id="solicitudBeanSolicitudObservacionesInternas" value="#{solicitudBean.solicitud.observacionesInternas}"/>
			<h:outputText/>		
			
			<h:outputLabel for="solicitudBeanSolicitudEstado" value="Estado:" />
			<h:outputText value="#{solicitudBean.solicitud.estado}" />
			<h:outputText />			
		</h:panelGrid>
		
		<div class="buttons">
			<h:link value="Ver todos" outcome="search" styleClass="btn btn-primary"/> 
			<h:link value="Editar" outcome="create" includeViewParams="true" styleClass="btn btn-primary" 
			rendered="#{!solicitudBean.vacaciones and !solicitudBean.termalismo}"/>
		</div>
	</ui:define>

</ui:composition>