<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
	xmlns:fn="http://xmlns.jcp.org/jsp/jstl/functions"
	xmlns:p="http://primefaces.org/ui" xmlns:o="http://omnifaces.org/ui"
	xmlns:of="http://omnifaces.org/functions">


   

        <p:panelGrid columns="1" columnClasses="ui-grid-col-12" layout="grid"
            styleClass="ui-fluid ui-noborder">

            <h:outputText
                value="Debe señalar hasta cuatro balnearios concretos en orden de preferencia."
                style="font-style:italic; color:grey" />

        </p:panelGrid>

	    <p:outputPanel autoUpdate="true">

		<p:panel header="Balnearios">

            <p:commandButton icon="ui-icon-plusthick" label="detalle" rendered="#{termalismoView.dto.listaBalnearios.size()!=4}"           
                oncomplete="PF('addDialogBal').show()" title="añadir balneario">               
            </p:commandButton>
			
			<p:dataTable
				value="#{termalismoView.dto.listaBalnearios}"
				var="_balneario" id="table1" emptyMessage="">

				<p:column headerText="Balneario">
					<h:outputText value="#{_balneario.descripcion}" />
				</p:column>

			</p:dataTable>

		</p:panel>

	</p:outputPanel>




	<p:dialog id="dialog1" header="Seleccione balneario"
		widgetVar="addDialogBal" modal="true" showEffect="fade" hideEffect="fade"
		resizable="false">

		<p:outputPanel autoUpdate="true">

			<o:messages />

			<p:panelGrid columns="3"
				columnClasses="ui-grid-col-5,ui-grid-col-5,ui-grid-col-2"
				layout="grid" styleClass="ui-fluid ui-noborder">

				<f:facet name="header">
					<h:outputLabel value="Indique Comunidad Autónoma y después podrá seleccionar balneario" />
				</f:facet>

				<p:panelGrid columns="1" columnClasses="ui-grid-col-12">
					<p:outputLabel for="@next" value="Comunidad"
						style="font-weight:bold" />
					<p:selectOneMenu value="#{termalismoView.ccaa}"
						converter="omnifaces.SelectItemsConverter">
						<f:selectItem itemLabel="" itemValue="#{null}"
							noSelectionOption="true" />
						<f:selectItems value="#{termalismoView.listaComunidadesAutonomas()}" var="_var"
							itemLabel="#{_var.descripcion}" itemValue="#{_var.id}" />
							<p:ajax event="change" update="balnearioId" process="@this" />
					</p:selectOneMenu>
				</p:panelGrid>

				<p:panelGrid columns="1" columnClasses="ui-grid-col-12">
				<p:outputLabel for="@next" value="Balneario"
                        style="font-weight:bold" />
					<p:selectOneMenu  value="#{termalismoView.balneario}"
                    label="Comunidad autonoma 1" style="width:230px" id="balnearioId"
                    panelStyle="width:250px" converter="omnifaces.SelectItemsConverter">
                    <f:selectItem itemLabel="" itemValue="" />
                    <f:selectItems
                        value="#{termalismoView.getBalneariosPorCCAA(termalismoView.ccaa)}"
                        var="balneario" itemLabel="#{balneario.descripcion}" />
                            
                </p:selectOneMenu>
				</p:panelGrid>

			</p:panelGrid>



			<p:panelGrid columns="2" layout="grid"
				styleClass="ui-fluid ui-noborder">

				<p:commandButton value="Cerrar" onclick="PF('addDialogBal').hide()" />

				<p:commandButton value="Añadir." update="@parent"
					actionListener="#{termalismoView.addBalneario()}"
					oncomplete="PF('addDialogBal').hide()" />

			</p:panelGrid>



		</p:outputPanel>

		<p:separator />


	</p:dialog>


  


</ui:composition>