<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
	xmlns:fn="http://xmlns.jcp.org/jsp/jstl/functions"
	xmlns:p="http://primefaces.org/ui" xmlns:o="http://omnifaces.org/ui"
	xmlns:of="http://omnifaces.org/functions">

	<p:fieldset legend="Datos familia numerosa" style="margin-bottom:20px">

		<p:panelGrid columns="2" columnClasses="ui-grid-col-6,ui-grid-col-6"
			layout="grid" styleClass="ui-fluid ui-noborder">

			<p:panelGrid columns="1" columnClasses="ui-grid-col-12">
				<o:outputLabel for="familiaNumerosaNumeroCarnet"
					value="Nº carnet Familia Numerosa en vigor" />
				<p:inputText id="familiaNumerosaNumeroCarnet" maxlength="8" size="8"
					style="text-transform: uppercase"
					value="#{templatesBeanName['dto']['familiaNumerosa']['numeroCarnet']}"/>
			</p:panelGrid>

			<p:panelGrid columns="1" columnClasses="ui-grid-col-12">
				<o:outputLabel for="familiaNumerosaCategoriaId"
					value="Categoría Familia Numerosa" />
				<p:selectOneMenu id="familiaNumerosaCategoriaId"
					value="#{templatesBeanName['dto']['familiaNumerosa']['categoria']}"
					converter="omnifaces.SelectItemsConverter">
					<f:selectItem itemLabel="" itemValue="#{null}"
						noSelectionOption="true" />
					<f:selectItems
						value="#{templatesBeanName.listaFamiliaNumerosa}"
						var="_var" itemLabel="#{_var.descripcion}" itemValue="#{_var}" />
				</p:selectOneMenu>
			</p:panelGrid>

		</p:panelGrid>

	</p:fieldset>

</ui:composition>