<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
	xmlns:fn="http://xmlns.jcp.org/jsp/jstl/functions"
	xmlns:p="http://primefaces.org/ui" xmlns:o="http://omnifaces.org/ui"
	xmlns:of="http://omnifaces.org/functions">

	<p:fieldset legend="Solicitud vinculada" style="margin-bottom:20px">

		<p:panelGrid columns="2" columnClasses="ui-grid-col-6,ui-grid-col-6"
			layout="grid" styleClass="ui-fluid ui-noborder">

			<p:panelGrid columns="1" columnClasses="ui-grid-col-12">
				<o:outputLabel for="vinculadoPrimerApellido" value="Primer Apellido" />
				<p:inputText id="vinculadoPrimerApellido" maxlength="35" size="35"
					style="text-transform: uppercase"
					value="#{templatesBeanName['dto']['solicitudVinculada']['apellido1']}" />
								
			</p:panelGrid>

			<p:panelGrid columns="1" columnClasses="ui-grid-col-12">
				<o:outputLabel for="vinculadoSegundoApellido"
					value="Segundo Apellido" />
				<p:inputText id="vinculadoSegundoApellido" maxlength="35" size="35"
					style="text-transform: uppercase"
					value="#{templatesBeanName['dto']['solicitudVinculada']['apellido2']}"/>
			</p:panelGrid>

		</p:panelGrid>


		<p:panelGrid columns="2" columnClasses="ui-grid-col-6,ui-grid-col-6"
			layout="grid" styleClass="ui-fluid ui-noborder">

			<p:panelGrid columns="1" columnClasses="ui-grid-col-12">
				<o:outputLabel for="vinculadoNombre" value="Nombre" />
				<p:inputText id="vinculadoNombre" maxlength="35" size="35"
					style="text-transform: uppercase"
					value="#{templatesBeanName['dto']['solicitudVinculada']['nombre']}" />
			</p:panelGrid>

			<p:panelGrid columns="1" columnClasses="ui-grid-col-12">
				<o:outputLabel for="vinculadoDocumentoIdentificacion"
					value="NIF/NIE" />
				<p:inputText id="vinculadoDocumentoIdentificacion" maxlength="9"
					style="text-transform: uppercase"
					value="#{templatesBeanName['dto']['solicitudVinculada']['documentoIdentificacion']}" />
			</p:panelGrid>


		</p:panelGrid>

		<p:panelGrid columns="1" columnClasses="ui-grid-col-12" layout="grid"
			styleClass="ui-fluid ui-noborder">

			<p:panelGrid columns="1" columnClasses="ui-grid-col-12">
				<h:outputText
					value="En caso de que quiera vincular su solicitud con la de otra persona de la misma provincia, preste atención a lo siguiente:"
					style="font-style:italic; color:grey" />
				<h:outputText
					value="1. Debe cumplimentar correctamente el número de NIF de la persona con la que quiere vincularse"
					style="font-style:italic; color:grey" />
				<h:outputText
					value="2. Los destinos elegidos y el orden de prioridad deberán ser exactemente iguales en ambas solicitudes"
					style="font-style:italic; color:grey" />
			</p:panelGrid>

		</p:panelGrid>


	</p:fieldset>

</ui:composition>