<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:ui="http://primefaces.org/ui">

<f:metadata>
	<f:attribute name="content" value="text/html; utf-8" />
</f:metadata>

<h:head>
	<title>Página no encontrada</title>
	<style type="text/css">
.ui-widget {
	font-size: 90%;
}
</style>
</h:head>

<h:body>

	<p>No se ha podido enconrar la dirección especificada en su
		navegador.</p>

</h:body>

</html>


