/* Move down content because we have a fixed navbar that is 50px tall */
body {
    padding-top: 50px;
    padding-bottom: 20px;
}

.separator1 {
	margin-top:10px;
}

.separator2 {
	margin-top:40px;
}

.separator3 {
	margin-bottom:40px;
}

.title {
	font-weight: bold; 
	font-size: x-large
}