<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:rich="http://richfaces.org/rich"
	template="/WEB-INF/templates/template.xhtml">

	<ui:define name="body">
	<h:outputStylesheet>
.messageDiv {
	margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 50px;
    margin-left: 50px;
    padding-top: 25px;
    padding-bottom: 25px;
    border-style: solid;
    border-width: 1px;
    border-color: #C4C3C7;
}        
body {
	font-family: Arial, Helvetica, sans-serif;
	font-style: normal;
	font-size: 14px;
	text-align: center;
	color: red;
}

    </h:outputStylesheet>
	

		<h:panelGrid columns="1" class="messageDiv">
			<h:column>
				<h:outputText id="errMessageId"
					value="#{request.getAttribute('errorMsg')}" />
			</h:column>
		</h:panelGrid>
	</ui:define>

</ui:composition>
