<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:rich="http://richfaces.org/rich"
	template="/WEB-INF/templates/template.xhtml">

	<ui:define name="body">

		<h:form id="formPruebas">
			<h:panelGrid columns="1">
    			<h:commandLink action="#{pruebaBean.incluirCamposOcultosPlantillaTurismo()}" value="GENERAR PLANTILLA TURISMO CON CAMPOS OCULTOS" />
    			
    			<h:commandLink action="#{pruebaBean.incluirCamposOcultosPlantillaTermalismo()}" value="GENERAR PLANTILLA TERMALISMO CON CAMPOS OCULTOS" />

    			<h:commandLink action="#{pruebaBean.generarPdfTermalismo()}" value="GENERAR PDF TERMALISMO" />
    			
    			<h:commandLink action="#{pruebaBean.treeViewCCAA()}" value="PRUEBA WS TERMALISMO" />
    			
    			<h:commandLink action="#{pruebaBean.pruebaWise()}" value="PRUEBA WISE" />
			</h:panelGrid>
		</h:form>
	</ui:define>
</ui:composition>
