<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:forgeview="http://jboss.org/forge/view"
	xmlns:rich="http://richfaces.org/rich"
	xmlns:a="http://richfaces.org/a4j"
	xmlns:richext="http://java.sun.com/jsf/composite/richext"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	template="/WEB-INF/templates/crudTemplate.xhtml">


	<ui:param name="pageTitle" value="Editar Usuario" />

	<ui:define name="header">
		Usuario
	</ui:define>

	<ui:define name="subheader">
		Asignación de trámites a usuarios
	</ui:define>

	<ui:define name="footer" />

	<ui:define name="main">
		

	

		<h:form id="form1">
			<rich:panel>
				<f:facet name="header">
					<h:outputText
						value="Asignación de trámites del usuario #{usuarioBean.selectedUserName}"></h:outputText>
				</f:facet>
				<h:panelGrid columns="3">
					<h:column>
						<rich:dataTable id="centroSelectionDataTable" var="_tramite"
							rows="15" value="#{usuarioBean.avalaibleOptions}"
							iterationStatusVar="it">

							<h:column>
								<f:facet name="header">Trámites disponibles</f:facet>
								<h:outputText
									value="#{_tramite.nombre} - #{_tramite.descripcion}" />
							</h:column>

							<h:column style="width:1%" >
								<f:facet name="header"></f:facet>
								<a:commandButton execute="@this" limitRender="false"
									render="@all centroSelectedDataTable" image="/img/cal-next.png"
									title="Asignar tramite al usuario"
									style="width:20px;height:20px;"
									action="#{usuarioBean.assign(_tramite)}" value="Seleccionar"
									alt="seleccionar" />
							</h:column>

						</rich:dataTable>
					</h:column>
					<h:column>
						
					</h:column>

					<h:column>
						<rich:dataTable id="centroSelectedDataTable" var="_tramite"
							rows="15" value="#{usuarioBean.assignedOptions}">

							<h:column style="width:1%" >
								<f:facet name="header"></f:facet>
								<a:commandButton execute="@this" limitRender="false"
									onclick="if (#{usuarioBean.numAssignedOptions} == 1){ if (!window.confirm('El usuario se eliminará si no tiene trámites asignados.\n¿Desea continuar?')) {return false;}}"
									render="@all" image="/img/cal-prev.png"
									title="desasignar trámite" style="width:20px;height:20px;"
									action="#{usuarioBean.unassign(_tramite)}" value="Seleccionar"
									alt="seleccionar" />
							</h:column>

							<h:column>
								<f:facet name="header">Trámites asignados</f:facet>
								<h:outputText
									value="#{_tramite.codigoSIA} - #{fn:substring(_tramite.descripcion,0,30)}" />
							</h:column>

							<f:facet name="footer">
								<rich:dataScroller page="#{usuarioBean.page}" boundaryControls="auto" fastControls="hide" lastPageMode="full" maxPages="5"/>
							</f:facet>

						</rich:dataTable>
					</h:column>

				</h:panelGrid>

			</rich:panel>

			<h:commandButton action="#{usuarioBean.volver()}"
				value="Seleccionar otro usuario" />

		</h:form>
	</ui:define>

</ui:composition>