<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
	xmlns:fn="http://xmlns.jcp.org/jsp/jstl/functions"
	xmlns:p="http://primefaces.org/ui" xmlns:o="http://omnifaces.org/ui"
	xmlns:of="http://omnifaces.org/functions">


		<p:panelGrid id="cmdPanel" columns="2" cellpadding="30" style="text-align: center"
			columnClasses="ui-grid-col-6,ui-grid-col-6" layout="grid"
			styleClass=" ui-noborder">
			
			<p:commandButton id="cmdCancel" value="Cancelar" ajax="false"
            action="#{templatesBeanName['cancel']()}" />
			
			<p:commandButton id="cmdSave" value="Registrar la Solicitud"
            ajax="true" actionListener="#{templatesBeanName['save']()}"
            process="@form" update="@form" />
			
			<p:defaultCommand target="cmdSave" />

		</p:panelGrid>

		<p:ajaxStatus onstart="PF('bui').show()" oncomplete="PF('bui').hide()" />

		<p:ajaxStatus onstart="PF('buicmd').show()"
			oncomplete="PF('buicmd').hide()" />


		<p:blockUI block="mainPanel" widgetVar="bui">REGISTRANDO SOLICITUD<br />
			<p:graphicImage library="demo" name="/images/ajaxloadingbar.gif" />
		</p:blockUI>

		<p:blockUI block="cmdPanel" widgetVar="buicmd">Por favor, espere...<br />
			<p:graphicImage library="demo" name="/images/ajaxloadingbar.gif" />
		</p:blockUI>

</ui:composition>
