<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets">

<h:head>
	<title>#{empty pageTitle ? 'Título de página' : pageTitle}</title>
	<link rel="icon" href='#{resource["favicon.ico"]}' />
	<h:outputStylesheet name="bootstrap.css" />
	<h:outputStylesheet name="forge-style.css" />
</h:head>

<h:body>
	<ui:debug rendered="#{facesContext.application.projectStage == 'Development'}" />
	<div class="navbar navbar-fixed-top">
		<div class="navbar-inner">
			<div class="container">
				<ui:include src="/WEB-INF/templates/cabecera.xhtml" />  
<!-- 				<h:link id="brandLink" outcome="/crud/index.xhtml" styleClass="brand"> -->
<!-- 					<h:outputText value="Welcome to " rendered=" #{request.userPrincipal !=null} "/> -->
<!--                     Geex 7forge -->
<!--                     <h:outputText value=",  #{request.userPrincipal.name}" rendered="#{request.userPrincipal !=null} "/> -->
<!-- 				</h:link> -->
<!-- 				<div class="nav-collapse collapse"> -->
<!-- 					<ul class="nav"> -->
<!-- 						<li><a href="http://forge.jboss.org/document/hands-on-lab">How to Customize</a></li> -->
<!-- 					</ul> -->
<!-- 				</div> -->
			</div>
		</div>
	</div>

	<div class="container forgecontainer">
		<div id="navigation">
			<h:link id="homeLink" outcome="/crud/index.xhtml">
				<h:graphicImage value='#{resource["forge-logo.png"]}' alt="Forge... get hammered" border="0" />	
			</h:link>
			<ul>
				<li>
					<h:link outcome="/crud/accion/search" value="Accion"/>
				</li>
				<li>
					<h:link outcome="/crud/accionconvenio/search" value="Accionconvenio"/>
				</li>
				<li>
					<h:link outcome="/crud/ampliacionCredito/search" value="Ampliacion Credito"/>
				</li>
				<li>
					<h:link outcome="/crud/ampliacionPeriodo/search" value="Ampliacion Periodo"/>
				</li>
				<li>
					<h:link outcome="/crud/anioCurso/search" value="Anio Curso"/>
				</li>
				<li>
					<h:link outcome="/crud/anulacionCredito/search" value="Anulacion Credito"/>
				</li>
				<li>
					<h:link outcome="/crud/aplicacionEconomica/search" value="Aplicacion Economica"/>
				</li>
				<li>
					<h:link outcome="/crud/aplicacionEconomicaAdo05/search" value="Aplicacion Economica Ado 05"/>
				</li>
				<li>
					<h:link outcome="/crud/aplicacionEconomicaAfectado/search" value="Aplicacion Economica Afectado"/>
				</li>
				<li>
					<h:link outcome="/crud/areaOrigenGasto/search" value="Area Origen Gasto"/>
				</li>
				<li>
					<h:link outcome="/crud/articulo/search" value="Articulo"/>
				</li>
				<li>
					<h:link outcome="/crud/asociadocontrato/search" value="Asociadocontrato"/>
				</li>
				<li>
					<h:link outcome="/crud/capitulo/search" value="Capitulo"/>
				</li>
				<li>
					<h:link outcome="/crud/concepto/search" value="Concepto"/>
				</li>
				<li>
					<h:link outcome="/crud/convenio/search" value="Convenio"/>
				</li>
				<li>
					<h:link outcome="/crud/demoCustomers/search" value="Demo Customers"/>
				</li>
				<li>
					<h:link outcome="/crud/estado/search" value="Estado"/>
				</li>
				<li>
					<h:link outcome="/crud/estadoReintegro/search" value="Estado Reintegro"/>
				</li>
				<li>
					<h:link outcome="/crud/expediente/search" value="Expediente"/>
				</li>
				<li>
					<h:link outcome="/crud/fichaPrograma/search" value="FichaPrograma"/>
				</li>
				<li>
					<h:link outcome="/crud/historicoaccionconvenio/search" value="Historicoaccionconvenio"/>
				</li>
				<li>
					<h:link outcome="/crud/informeAnulacion/search" value="Informe Anulacion"/>
				</li>
				<li>
					<h:link outcome="/crud/ingreso/search" value="Ingreso"/>
				</li>
				<li>
					<h:link outcome="/crud/operacionPrograma/search" value="Operacion Programa"/>
				</li>
				<li>
					<h:link outcome="/crud/pago/search" value="Pago"/>
				</li>
				<li>
					<h:link outcome="/crud/pagoObviado/search" value="Pago Obviado"/>
				</li>
				<li>
					<h:link outcome="/crud/partidaEconomica/search" value="Partida Economica"/>
				</li>
				<li>
					<h:link outcome="/crud/perfilesOperaciones/search" value="Perfiles Operaciones"/>
				</li>
				<li>
					<h:link outcome="/crud/referenciaEl/search" value="Referencia El"/>
				</li>
				<li>
					<h:link outcome="/crud/referenciaEspecial/search" value="Referencia Especial"/>
				</li>
				<li>
					<h:link outcome="/crud/referenciaYl/search" value="Referencia Yl"/>
				</li>
				<li>
					<h:link outcome="/crud/reintegro/search" value="Reintegro"/>
				</li>
				<li>
					<h:link outcome="/crud/rol/search" value="Rol"/>
				</li>
				<li>
					<h:link outcome="/crud/subconcepto/search" value="Subconcepto"/>
				</li>
				<li>
					<h:link outcome="/crud/unidad/search" value="Unidad"/>
				</li>
				<li>
					<h:link outcome="/crud/usuario/search" value="Usuario"/>
				</li>
			</ul>
		</div>

		<div id="content">
			<h1>
				<ui:insert name="header" />
			</h1>
			<h2>
				<ui:insert name="subheader" />
			</h2>

			<ui:insert name="main" />
		</div>
	</div>

	<footer>
		<div id="footer-wrapper">
	    	<p>Powered by <a href="http://jboss.org/forge">Forge</a></p>
	    </div>
	</footer>

</h:body>
</html>
