<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
	xmlns:fn="http://xmlns.jcp.org/jsp/jstl/functions"
	xmlns:p="http://primefaces.org/ui" xmlns:o="http://omnifaces.org/ui"
	xmlns:of="http://omnifaces.org/functions">

	<p:fieldset legend="Declaración" style="margin-bottom:20px">

		<p:panelGrid columns="1" columnClasses="ui-grid-col-12" layout="grid"
			styleClass="ui-fluid ui-noborder">

			<h:outputText style="font-style:italic; color:grey"
				value="DECLARO bajo mi responsabilidad que son ciertos los datos que consigno en la presente solicitud, manifestando que quedo enterado/a  de  la  obligación de comunicar al Imserso cualquier variación que de los mismos pudiera producirse en lo sucesivo." />
			<h:outputText style="font-style:italic; color:grey"
				value="ACEPTO que, de acuerdo con el artículo 28. 2 de la Ley 39/2015, de 1 de octubre, del Procedimiento Administrativo Común de las Administraciones Públicas, el Imserso consulte los datos consignados en esta solicitud y recabe aquellos documentos que sean precisos para su resolución, a través de sus redes corporativas o mediante consulta a las plataformas de intermediación de datos u otros sistemas electrónicos habilitados al efecto." />

			<h:selectBooleanCheckbox id="denegarAutorizacionConsultas"
				value="#{solicitudTurismoView.dto.denegarAutorizacionConsultas}" />
			<h:outputText style="font-style:italic; color:grey"
				value="En caso de no autorizar estas consultas marque la siguiente casilla y, en este caso, deberá aportar, junto a esta solicitud, la documentación que se detalla a continuación:" />


			<ul style="font-style: italic; color: grey">
				<li>Copia del NIF/NIE del solicitante</li>
				<li>Copia del NIF/NIE del cónyuge o pareja de hecho</li>
				<li>Copia del título de Familia numerosa, en su caso</li>
				<li>Copia del certificado de discapacidad de su hijo/a, en su
					caso</li>
				<li>Acreditación de la pensión y otros ingresos del solicitante
					y, en su caso, del cónyuge o pareja de hecho</li>
			</ul>

		</p:panelGrid>

	</p:fieldset>

</ui:composition>