<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
	xmlns:fn="http://xmlns.jcp.org/jsp/jstl/functions"
	xmlns:p="http://primefaces.org/ui" xmlns:o="http://omnifaces.org/ui"
	xmlns:of="http://omnifaces.org/functions">

	<p:fieldset legend="Datos económicos" style="margin-bottom:20px">

		<p:panelGrid columns="1" columnClasses="ui-grid-col-12" layout="grid"
			styleClass="ui-fluid ui-noborder">

			<h:outputText
				value="El campo Cuantía Mensual donde se indica la cuantía de la prestación debe cumplimentarse sin signos de puntuación ni caracteres decimales"
				style="font-style:italic; color:grey" />

		</p:panelGrid>

		
		<!-- declaración económica solicitante -->

        <ui:include
            src="/WEB-INF/templates/appgestora/turismo/declaracionEconomicaPersona.xhtml" >
            <ui:param name="beanName" value="#{solicitudTurismoView}" />
            <ui:param name="header1" value="Prestaciones del solicitante" />
            <ui:param name="header2" value="Prestación del solicitante" />
            <ui:param name="datosEconomicosPersona" value="datosEconomicosSolicitante" />
            <ui:param name="datoEconomico" value="datoEconomico" />
            <ui:param name="personaDeclarante" value="#{solicitudTurismoView.declaranteSolicitante}" />
            <ui:param name="dataTableId" value="dtSolicitante" />
            <ui:param name="addDialogId" value="addDialogSolicitante" />
            <ui:param name="addMethod" value="addPensionDeclarante" />
        </ui:include>
        
        
        <!-- declaración económica cónyuge -->

        <ui:include
            src="/WEB-INF/templates/appgestora/turismo/declaracionEconomicaPersona.xhtml" >
            <ui:param name="beanName" value="#{solicitudTurismoView}" />
            <ui:param name="header1" value="Prestaciones del cónyuge o pareja de hecho" />
            <ui:param name="header2" value="Prestación del cónyuge o pareja de hecho" />
            <ui:param name="datosEconomicosPersona" value="datosEconomicosConyuge" />
            <ui:param name="datoEconomico" value="datoEconomico" />
            <ui:param name="personaDeclarante" value="#{solicitudTurismoView.declaranteConyuge}" />
            <ui:param name="dataTableId" value="dtConyuge" />
            <ui:param name="addDialogId" value="addDialogConyuge" />
            <ui:param name="addMethod" value="addPensionDeclarante" />
        </ui:include>
        
	</p:fieldset>
	
</ui:composition>