<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
	xmlns:fn="http://xmlns.jcp.org/jsp/jstl/functions"
	xmlns:p="http://primefaces.org/ui" xmlns:o="http://omnifaces.org/ui"
	xmlns:of="http://omnifaces.org/functions">

	<p:fieldset legend="Plazas solicitadas" style="margin-bottom:20px">

		<p:panelGrid columns="1" columnClasses="ui-grid-col-12" layout="grid"
			styleClass="ui-fluid ui-noborder">

			<h:outputText
				value="Puede elegir dos destinos, pero solo uno de la opción B"
				style="font-style:italic; color:grey" />
			<h:outputText
				value="SE ADVIERTE QUE EN CASO DE MARCAR DOS DESTINOS EN LA OPCIÓN B, QUEDARÁ ANULADA SU PETICIÓN Y SE LE ASIGNARÁ LA OPCIÓN A"
				style="font-style:italic; color:grey" />

		</p:panelGrid>

		<p:panelGrid columns="2" columnClasses="ui-grid-col-6,ui-grid-col-6"
			layout="grid" styleClass="ui-fluid ui-noborder">

			<p:panelGrid columns="1" columnClasses="ui-grid-col-12">
				<o:outputLabel for="peticion1OpcionId" value="Primer destino" />
				<p:selectOneMenu id="peticion1OpcionId"
					value="#{solicitudTurismoView.dto.destinos.opcion1}"
					converter="simpleDtoConverter">
					<f:selectItem itemLabel="" itemValue="#{null}"
						noSelectionOption="true" />
					<f:selectItems value="#{solicitudTurismoView.opciones}" var="_var"
						itemLabel="#{_var.descripcion}" itemValue="#{_var}" />
				</p:selectOneMenu>
			</p:panelGrid>

			<p:panelGrid columns="1" columnClasses="ui-grid-col-12">
				<o:outputLabel for="peticion2OpcionId" value="Segundo Destino" />
				<p:selectOneMenu id="peticion2OpcionId"
					value="#{solicitudTurismoView.dto.destinos.opcion2}"
					converter="simpleDtoConverter">
					<f:selectItem itemLabel="" itemValue="#{null}"
						noSelectionOption="true" />
					<f:selectItems value="#{solicitudTurismoView.opciones}" var="_var"
						itemLabel="#{_var.descripcion}" itemValue="#{_var}" />
				</p:selectOneMenu>
			</p:panelGrid>

		</p:panelGrid>

	</p:fieldset>

</ui:composition>