<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	template="/WEB-INF/templates/crudTemplate.xhtml">

	<f:metadata>
		<f:viewParam name="id" value='#{idiomaBean.id}'/>
		<f:event type="preRenderView" listener='#{idiomaBean.retrieve}'/>
	</f:metadata>

	<ui:param name="pageTitle" value="Create Idioma"/>

	<ui:define name="header">
		Idioma
	</ui:define>

	<ui:define name="subheader">
		<c:choose>
			<c:when test='#{!empty idiomaBean.id}'>
				Editar Idioma
			</c:when>
			<c:otherwise>
				Crear Idioma
			</c:otherwise>
		</c:choose>
	</ui:define>

	<ui:define name="footer"/>

	<ui:define name="main">
		<h:form id="create">
			<h:messages globalOnly="true" styleClass="error"/>

			<h:panelGrid columnClasses="label,component,required" columns="3">
				<h:outputLabel for="idiomaBeanIdiomaLocale" value="Locale:"/>
				<h:panelGroup>
					<h:inputText id="idiomaBeanIdiomaLocale" value="#{idiomaBean.idioma.locale}"/>
					<h:message for="idiomaBeanIdiomaLocale" styleClass="error"/>
				</h:panelGroup>
				<h:outputText/>
				<h:outputLabel for="idiomaBeanIdiomaNombre" value="Nombre:"/>
				<h:panelGroup>
					<h:inputText id="idiomaBeanIdiomaNombre" value="#{idiomaBean.idioma.nombre}"/>
					<h:message for="idiomaBeanIdiomaNombre" styleClass="error"/>
				</h:panelGroup>
				<h:outputText/>
				
			</h:panelGrid>

			<div class="buttons">
				<h:commandLink value="Grabar" action='#{idiomaBean.update}' styleClass="btn btn-primary"/>
				<c:choose>
					<c:when test='#{!empty idiomaBean.id}'>
						<h:link value="Cancelar" outcome="view" styleClass="btn btn-primary">
							<f:param name="id" value='#{idiomaBean.id}'/>
						</h:link>
						<h:commandLink value="Borrar" action='#{idiomaBean.delete}' styleClass="btn btn-primary"/>
					</c:when>
					<c:otherwise>
						<h:link value="Cancelar" outcome="search" styleClass="btn btn-primary"/>
					</c:otherwise>
				</c:choose>
			</div>
		</h:form>
	</ui:define>

</ui:composition>