<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	template="/WEB-INF/templates/crudTemplate.xhtml">

	<f:metadata>
		<f:viewParam name="page" value='#{idiomaBean.page}'/>
		<f:event type="preRenderView" listener='#{idiomaBean.paginate}'/>
	</f:metadata>

	<ui:param name="pageTitle" value="Buscar Idioma "/>

	<ui:define name="header">
		Idioma
	</ui:define>

	<ui:define name="subheader">
		Buscar Idioma 
	</ui:define>

	<ui:define name="footer"/>

	<ui:define name="main">
		<h:form id="search">
			<f:validateBean disabled="true">
				<h:panelGroup styleClass="search">

					<h:panelGrid columnClasses="label,component,required" columns="3">
						<h:outputLabel for="idiomaBeanExampleLocale" value="Locale:"/>
						<h:panelGroup>
							<h:inputText id="idiomaBeanExampleLocale" value="#{idiomaBean.example.locale}"/>
							<h:message for="idiomaBeanExampleLocale" styleClass="error"/>
						</h:panelGroup>
						<h:outputText/>
						<h:outputLabel for="idiomaBeanExampleNombre" value="Nombre:"/>
						<h:panelGroup>
							<h:inputText id="idiomaBeanExampleNombre" value="#{idiomaBean.example.nombre}"/>
							<h:message for="idiomaBeanExampleNombre" styleClass="error"/>
						</h:panelGroup>
						<h:outputText/>
					</h:panelGrid>
					<h:panelGroup styleClass="buttons">
						<h:commandLink value="Buscar" action='#{idiomaBean.search}' styleClass="btn btn-primary"/>
						<h:commandLink value="Crear nuevo" action='#{idiomaBean.create}' styleClass="btn btn-primary"/>
					</h:panelGroup>
				</h:panelGroup>
			</f:validateBean>
			
			<h:dataTable id="idiomaBeanPageItems" styleClass="data-table" value="#{idiomaBean.pageItems}" var="_item">
				<h:column>
					<f:facet name="header">
						<h:outputText value="Locale"/>
					</f:facet>
					<h:link outcome="/admin/idioma/view">
						<f:param name="id" value="#{_item.id}"/>
						<h:outputText id="itemLocale" value="#{_item.locale}"/>
					</h:link>
				</h:column>
				<h:column>
					<f:facet name="header">
						<h:outputText value="Nombre"/>
					</f:facet>
					<h:link outcome="/admin/idioma/view">
						<f:param name="id" value="#{_item.id}"/>
						<h:outputText id="itemNombre" value="#{_item.nombre}"/>
					</h:link>
				</h:column>
			</h:dataTable>
			<ui:include src="/resources/scaffold/paginator.xhtml">
				<ui:param name="paginatorBean" value='#{idiomaBean}'/>
			</ui:include>
		</h:form>
			
	</ui:define>

</ui:composition>
